* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: black;
  color: white;
}
main {
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to right bottom,
    rgb(26, 26, 26),
    rgb(30, 30, 30),
    black
  );
  padding: 20px;
 
  section {
    height: 100%;
    width: 400px;
    background-color: black;
    border-radius: 10px;
    margin: auto;

    .all-reels {
      height: 100%;
      width: 100%;
      scroll-snap-type: y mandatory;
      scroll-behavior: smooth;
      // background-color: red;
      overflow: auto;

      .reel {
        height: 100%;
        width: 100%;
        position: relative;
        background-color: rgb(163, 163, 248);
        overflow: hidden;
        border-radius: 10px;
        margin-bottom: 20px;
        scroll-snap-align: start;
        scroll-snap-stop: always;

        video {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
        .bottom {
          padding: 30px 30px;
          background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.948));
          width: 100%;
          position: absolute;
          bottom: 0;
          .user {
            display: flex;
            align-items: center;
            gap: 15px;
            margin-bottom: 30px;
            h4 {
              font-size: 16px;
              color: white;
            }
            button {
              padding: 2px 4px;
              background-color: transparent;
              border-radius: 5px;
              color: white;

              font-size: 14px;
              border: 1px solid white;
              cursor: pointer;
            }

            img {
              height: 30px;
              width: 30px;
              border-radius: 50px;
              object-fit: cover;
            }
          }
          h3 {
            color: white;
            font-size: 20px;
          }
        }
        .right {
          padding: 30px;
          display: flex;
          flex-direction: column;
          gap: 18px;
          align-items: center;
          width: 40px;
          position: absolute;
          right: 0;
          //   transform: translateX(100%);
          bottom: 12%;
          text-align: center;
          .icon {
            font-size: 24px;
            cursor: pointer;
          }
          h6 {
            font-size: 18px;
          }
          .right > div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}
.all-reels::-webkit-scrollbar {
  display: none;
}
